* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: var(--white-clr);
}

:root {
  --bg-primary: #3450a1;
  --bg-secondary: #041955;
  --white-clr: #fff;
  --gray-clr: #bbc2d8;
  --border-clr: #d103fc;
}

::selection {
  background-color: var(--border-clr);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: var(--bg-primary);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
}
